*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.continer{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg, #153667 , #4e085f);
    padding: 23px;
}
.Todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 13px;
}
.Todo-app h2{
    color:rgb(17, 19, 18);
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.Todo-app h2 img{
    width: 36px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex:6;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-size: 14px;
}
.row button{
    border: none;
    outline: none;
    padding: 16px 45px;
    background-color: rgb(255, 115, 0);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 35px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative; 
}
ul li::before{
    content: '';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url("images/unchecked.jpeg");
    background-size: cover;
    background-position: center;
    top: 9px;
    left: 8px;
}
ul li.checked{
    color: black;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url("images/checked1.jpeg");
}
